// styling for the app modals
.app-modal {
    .app-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }

    .close {
        position: absolute;
        z-index: 1;
        right: 1.5rem;
        top: 1rem;
        font-size: 3rem;
        line-height: 3rem;
        color: $primary;
        opacity: 1;
    }

    .modal-body {
        padding: 1rem 1rem;
    }

    .modal-dialog {
        transform: translate(0, -50%) !important;
        top: 50%;
        margin: 0 auto;
    }
}
